h1, h3 {
    line-height: 10px !important;
}

.header {
    padding: 70px;
}

a:hover {
   font-weight: bold;
}

.card-content {
    height: 170px
}

main {
    padding-top: 50px !important;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    h1, h3 {
        line-height: 1px !important;
    }
    h1 {
        font-size: 2rem !important;
        font-weight: bold;
    }

    h3 {
        font-size: 1.8rem !important;
    }


    .s6 {
        width: 100% !important;
    }
  }