h1, h3 {
    line-height: 10px !important;
}

.header {
    padding: 70px;
}

a:hover {
   font-weight: bold;
}

.card-content {
    height: 170px
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.8rem !important;
    }

    .s6 {
        width: 100% !important;
    }
  }